body,html{
    background-color: #22212C;
    width: 100%;
    display: flex;
    
    
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700;900&display=swap');