@keyframes fadeposts {
    from {
      opacity: 0;
      transform: translateY(5px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0px);
    }
  }

.projects{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    
    .posts--title{
        margin-top: 48px;
        font-size: 1.25rem; 
        color: #837E9F;
        font-family: 'inter';
        margin-left: 12px;
        margin-bottom: 48px;
    }
    .posts_list .posts_list_link:nth-child(n+5):nth-child(-n+200) {
        display: none;
        animation:  fadeposts 1s ;

    }
    .posts_list{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        width: 100%;
 
        .posts_list_link{
            text-decoration: none;
            transition: all 1s ease;
            
        }

        .posts_list_project{
            background-color: #302F3D;
            padding: 30px;
            border-radius: 20px;
            width: 100%;
            transition: all 0.3s ease-in-out ;

            &:hover{
                    box-shadow: 5px 6px 12px -2px #161616c9;

            }
    
            .posts_list_project_head{
                @include displayDirection(flex, row);
                align-items: center;
                margin-bottom: 20px;
    
                i{
                    color: #837E9F;
                    margin-right: 16px;
                }
    
                .posts_list_project_head--title{
                    font-size: 1rem;
                    font-family: 'inter';
                    color: #837E9F;
                }
            }
            
            .posts_list_project--desc{
                font-size: 1rem;
                color: #837E9F;
                font-family: 'inter';
            }
            
            .posts_list_project--foot{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: start;
                gap: 10px;

                .posts_list_project--foot--star{
                    i{
                        margin-right: 6px;
                    }
                        color: #837E9F;
                        margin-right: 12px;
                        display: flex;
                        flex-wrap: nowrap;
                        font-family: inter;
                    }
                    
                    .posts_list_project--foot--watch{
                        color: #837E9F;
                        font-family: 'inter';
                }
            }
        }
    }

    .posts--btn{
        color: #837E9F;
        border-radius: 8px;
        padding: 4px;
        font-family: 'inter';
        font-size: 1.125rem;
        background-color: transparent;
        border: 2px solid #837E9F;
        cursor: pointer;
        margin-top: 48px;
        width: 100%;
        height: 100%;
        max-width: 248px;
        height: 40px;
        transition: all 0.6s ease-in-out;
        font-weight: 600;

        &:hover{
            color: #373541;
            box-shadow: inset 1000px 0 10px #837e9f;
        }
    }
}