@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700;900&display=swap");
.left-nav {
  width: 100%;
  max-width: 348px;
  display: flex;
  flex-direction: column;
  margin: 40px;
  gap: 30px;
}

.main {
  display: flex;
  width: 100%;
  margin: 40px;
}

body, html {
  background-color: #22212C;
  width: 100%;
  display: flex;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #302F3D;
  border-radius: 20px;
  padding: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .heder_img-ct {
  overflow: hidden;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  max-width: 142px;
  max-height: 142px;
  border: 3px solid #079607;
}
.header .heder_img-ct .heder_img-ct--image {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.header .heder_img-ct .heder_img-ct--image:hover {
  transform: scale(1.1);
}
.header .header_content-ct {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .header_content-ct h1 {
  font-size: 1.6rem;
  color: #837E9F;
  font-weight: 700;
  font-family: "Inter";
  text-align: center;
  margin: 30px 0 10px 0;
}
.header .header_content-ct h2 {
  font-size: 0.9rem;
  color: #837E9F;
  font-weight: 700;
  font-family: "Inter";
  text-align: center;
}

.contact {
  width: 100%;
  background-color: #302F3D;
  border-radius: 20px;
  padding: 30px;
}
.contact .contact_list {
  list-style-type: none;
}
.contact .contact_list .contact_list--item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 28px;
}
.contact .contact_list .contact_list--item .contact_list--item_icon-ct {
  margin-right: 12px;
}
.contact .contact_list .contact_list--item .contact_list--item_icon-ct i {
  color: #837E9F;
  font-size: 1.5rem;
}
.contact .contact_list .contact_list--item .contact_list--item--link {
  width: 100%;
  text-decoration: none;
  color: #837E9F;
  font-family: "inter";
  font-size: 1.1rem;
  font-weight: 400;
}
.contact .contact_list .contact_list--item .contact_list--item--link::after {
  transition: all 0.4s ease-in-out;
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: #837E9F;
  margin-left: auto;
}
.contact .contact_list .contact_list--item .contact_list--item--link:hover::after {
  margin-left: 0;
  width: 100%;
}

.technologies {
  display: flex;
  flex-direction: column;
  background-color: #302F3D;
  padding: 30px;
  border-radius: 20px;
}
.technologies .technologies--title {
  color: #837E9F;
  font-family: "inter";
  font-size: 1.45rem;
  font-weight: 700;
}
.technologies .technologies_list {
  margin-top: 24px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.technologies .technologies_list .technologies_list--item i {
  font-size: 4rem;
  color: #837E9F;
}

.experience {
  display: flex;
  flex-direction: column;
  background-color: #302F3D;
  border-radius: 20px;
  padding: 30px;
}
.experience .experience--title {
  color: #837E9F;
  font-family: "inter";
  font-size: 1.45rem;
  font-weight: 700;
}
.experience .experience_list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}
.experience .experience_list .experience_item {
  font-family: "inter";
  color: #837E9F;
  margin-bottom: 22px;
}
.experience .experience_list .experience_item .experience_item--subtitle {
  font-size: 1.2rem;
}
.experience .experience_list .experience_item .experience_item--subtitle--desc {
  font-size: 1rem;
}

.education {
  display: flex;
  flex-direction: column;
  background-color: #302F3D;
  border-radius: 20px;
  padding: 30px;
}
.education .education--title {
  color: #837E9F;
  font-family: "inter";
  font-size: 1.45rem;
  font-weight: 700;
}
.education .education_list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}
.education .education_list .education_list--item {
  font-family: "inter";
  color: #837E9F;
  margin-bottom: 22px;
}
.education .education_list .education_list--item .education_list--item--subtitle {
  font-size: 1.2rem;
}
.education .education_list .education_list--item .education_list--item--desc {
  font-size: 1rem;
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.projects .projects--title {
  font-size: 1.25rem;
  color: #837E9F;
  font-family: "inter";
  margin-left: 12px;
  margin-bottom: 48px;
}
.projects .projects_list.hide-projects .projects_list_link:nth-child(n+5):nth-child(-n+200) {
  opacity: 0;
  height: 0;
  position: absolute;
  top: -1000px;
}
.projects .projects_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 100%;
}
.projects .projects_list .projects_list_link {
  text-decoration: none;
  transition: all 1s ease;
}
.projects .projects_list .projects_list_project {
  background-color: #302F3D;
  padding: 30px;
  border-radius: 20px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.projects .projects_list .projects_list_project:hover {
  box-shadow: 5px 6px 12px -2px rgba(22, 22, 22, 0.7882352941);
}
.projects .projects_list .projects_list_project .projects_list_project_head {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.projects .projects_list .projects_list_project .projects_list_project_head i {
  color: #837E9F;
  margin-right: 16px;
}
.projects .projects_list .projects_list_project .projects_list_project_head .projects_list_project_head--title {
  font-size: 1rem;
  font-family: "inter";
  color: #837E9F;
}
.projects .projects_list .projects_list_project .projects_list_project--desc {
  font-size: 1rem;
  color: #837E9F;
  font-family: "inter";
}
.projects .projects_list .projects_list_project .projects_list_project--foot {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.projects .projects_list .projects_list_project .projects_list_project--foot .projects_list_project--foot--star {
  color: #837E9F;
  margin-right: 12px;
}
.projects .projects_list .projects_list_project .projects_list_project--foot .projects_list_project--foot--star i {
  margin-right: 6px;
}
.projects .projects_list .projects_list_project .projects_list_project--foot .projects_list_project--foot--watch {
  color: #837E9F;
}
.projects .projects--btn {
  color: #837E9F;
  border-radius: 8px;
  padding: 4px;
  font-family: "inter";
  font-size: 1.125rem;
  background-color: transparent;
  border: 2px solid #837E9F;
  cursor: pointer;
  margin-top: 48px;
  width: 100%;
  height: 100%;
  max-width: 248px;
  height: 40px;
  transition: all 0.6s ease-in-out;
  font-weight: 600;
}
.projects .projects--btn:hover {
  color: #373541;
  box-shadow: inset 1000px 0 10px #837e9f;
}

/*# sourceMappingURL=style.css.map */
